body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed !important;
}
.nav-logo{
    width: 35px;
    height: 35px;
}
.nav-logo2{
    width: 35px;
    height: 35px;
}
.login{
    text-decoration: none !important;
    color: white;
}
.check{
    margin-right:50px;
}

.conteudo {
    margin-top: 50px !important;
}

.card-list {
    background-color: white;
    padding: 25px;
}